.hidden {
  display: none;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  background-color: mediumturquoise;
}

body {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  background-color: black;
  color: ivory;
}

h1 {
  margin-bottom: 30px;
}

h3 {
  font-weight: bold;
}

div.radio {
  margin: 10px;
  padding: 10px;
  background-color: mediumturquoise;
}

label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}

.btn {
  border: 2px solid black;
  margin: 10px;
  background-color: mediumturquoise;
  color: ivory;
}

p {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}